<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="secuDoc.set" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <secuDoc.set>
            <setting name="dot" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="dash" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="space" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="fullstop" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="key" serializeAs="String">
                <value>2</value>
            </setting>
        </secuDoc.set>
    </userSettings>
</configuration>